<!DOCTYPE html>
<html>
<head>
	<title>OdaniaPoll</title>
	<%= stylesheet_link_tag "odania_poll/application", media: "all" %>
	<%= javascript_include_tag "odania_poll/application" %>
	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
